.progressView button {
  padding: 4px 10px;
  border: none;
  background-color: yellowgreen;
  border-radius: 5px 0px;
  color: black;
}
.wrapper {
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  text-align: center;
}
.wrapper .progress-container {
  height: auto;
  width: auto;
}
.progressbar-wrapper {
  color: black;
  overflow: hidden;
  position: relative;
  height: 20px;
  border: 1px solid #ddd;
  width: 100%;
}
.ag-cell-inline-editing {
  overflow: unset !important;
}
.progressText {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  text-align: center;
  height: 100%;
  width: 100%;
}
.editorRange {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.progressbar-wrapper .progress-fill {
  height: 100%;
  background-color: #4caf50;
}

.progress-fill.yellow {
  background-color: #fcbf02;
}

.progress-fill.red {
  background-color: #f44336;
}
.progress-fill.blue {
  background-color: #2196f3;
}
.progress-fill.green {
  background-color: #4caf50;
}
